*{
    padding: 0;
    margin:0;
    font-family:'Poppins', Times, serif;
     box-sizing: border-box}
.container{
background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url('images/bg.jpg');
    min-height:100vh;
    min-width: 90%;
   background-size:cover;
}
.nav{
    width:100%;
    height:100px;
    color:white;
    display: flex;
    background-color: rgb(4, 101, 101);
    justify-content:space-around;
    background: transparent;
   
}
button{
    
    border-radius: 20%;
    border-style: hidden;
    padding:40px 1px 1px 1px ;
    margin-top:10px;
    background: transparent;
    font-size: 20px;
  
}
.register a{
        color: white;
        text-decoration: none;
        padding:10px 5px 5px;
        font-size:20px;
        background-color:rgb(214, 89, 11);
        border-radius: 10px;
        transition: 0.4s;
    }
    .register a:hover{
        background: transparent;
        border:2px solid rgb(214, 89, 11);
    }

    
.menu a{
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    font-size:20px;
    transition: 0.3s;
}
.menu a:hover{
    color:rgb(214, 89, 11);
    text-transform: capitalize; 
}

.logo{ font-size:2em;
    letter-spacing: 2px;
}
.hdi{
    max-width:650px ;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    color: white;
}
.hdi span{
    letter-spacing:10px ;
    font-style: italic;
    transition-duration: 5s;
}

.hdi span:hover{
    letter-spacing:12px;
}

.hdi h1{
    font-size: 30px;
   word-spacing: 10px;
}
.hdi a{
    background-color:rgb(214, 89, 11);
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    padding:10px 10px 10px;
    border-radius: 10px;
    transition: 0.4s linear;
}

    .hdi a:hover{
         background: transparent;
         border:2px solid rgb(214, 89, 11); 
         letter-spacing: 3px;
        }
    
    